.sliders {
    position: relative;
    height: 870px;
    background: white;
    padding: 40px 0 0 0;
    background: #000;
    .light__orange {
        position: absolute;
        left: 90px;
        top: 104px;
    }
    .light__blue {
        position: absolute;
        top: 27px;
        left: 660px;
        margin: 10;
    }
    .content {
        width: 100%;
        height: 100%;
        .title {
            height: 117px;
            text-align: center;
            img {
                height: 117px;
            }
        }
        .prev {
            z-index: 100;
        }
        .next {
            z-index: 100;
        }
        .slide {
            display: flex;
            justify-content: space-between;
            margin-top: 22px;
            .images {
                z-index: 10;
            }
        }
        .spinner {
            position: relative;
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 281px;
            height: 269px;
            left: 965px;
            top: 229px;
            align-items: flex-start;
            z-index: 20;
            .name {
                font-size: 24px;
                color: #fff;
                font-weight: 600;
                line-height: 120%;
            }
            .descr {
                font-size: 16px;
                color: #fff;
                margin-top: 10px;
                font-weight: 400;
                line-height: 22px;
            }
            .round {
                position: relative;
                width: 125px;
                height: 125px;
                border-radius: 50%;
                border: 1px solid #fff;
                background: none;
                margin-top: 32px;
                .name__descr {
                    color: #fff;
                    font-size: 10.42px;
                    text-transform: uppercase;
                    font-weight: 500;
                    text-align: center;
                }
                #triangle {
                    position: absolute;
                    top: 50px;
                    left: 53px;
                    width: 0px;
                    height: 0px;
                    border-top: 11px solid transparent;
                    border-left: 20px solid #F5F5F5;
                    border-bottom: 11px solid transparent;
                    cursor: pointer;
                }
            }
        }
        .circle_catolog {
            position: absolute;
            left: 1210px;
            top: 100px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background: #fff;
            color: #000;
            font-size: 16px;
            font-weight: 600;
            text-align: center;
            line-height: 9em;
            margin: 0;
            transform: rotate(15deg);
            z-index: 15;
            cursor: pointer;
            .round {
                color: #fff;
                background:#fff;
                svg {
                    animation: someAnim 13s ease-in-out;
                    height: auto;
                    max-width: 66vmin;
                    transform-origin: center;
                    width: 100%;
                }
            }
        }
        .circle_catolog:hover {
            background:rgb(152, 152, 152);
            transition: 1s;
            color: #fff;
        }
    }
}
.txt {
    background-color: #fff ;
    text-transform: uppercase;
}

.spinner__rotate {
    color: #fff;
    animation: someAnim 10s  infinite linear;
}

@keyframes someAnim {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}